DB_HOST=DESKTOP-UA5A2F0
DB_INSTANCE=SQLEXPRESS
DB_USER=sa
DB_PASS=admin
DB_NAME=woocommerce_app

WC_BASE_URL=https://wp-multisite.convertcart.com
WC_KEY=ck_af82ae325fbee1c13f31eb26148f4dea473b0f77
WC_SECRET=cs_2d8cc467c5b91a80f5ed18dd3c282ee8299c9445

PORT=5000
